.card {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-radius: 0.5rem;
  transition: all 0.2s;
  padding: 0.8rem;
  margin: 0 auto;
  background-color: #017681;
}
.card-header {
  padding: 0rem;
}
.btn-actions-pane-right {
  margin-left: auto;
  white-space: nowrap;
}

.scroll-area-sm {
  height: 288px;
  overflow-x: hidden;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0.3rem;
  border: px solid #017681;
  border-radius: 0.5rem;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}
